name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'  # 设置所需的 Node.js 版本

    - name: Deploy files to server
      run: |
        scp -r ./dist/* user@${{secrets.APPLE_HOST}}:${{secrets.APPLE_LOCATION}}
      env:
        SSH_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
